# LaTeX intermediate and auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb

# Bibliography and Build tool files (bibtex/biber/latexmk)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.synctex.gz

#Misc
*.nav
*.snm